<html>
  <head>
    <meta charset="UTF-8" />
    <title>Todo App</title>
    <link rel="stylesheet" href="./styles/styles.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="./js/index.js"></script>
  </head>
  <body>
    <div id="container">
      <h1>Mike's todo List</h1>
      <div id="new-message">
        <div class="row">
          <div>
            <textarea id="desc" placeholder="New task here..."></textarea>
          </div>
          <button id="save">Add Task</button>
          <ul id="message-list"></ul>
        </div>
      </div>
    </div>
  </body>
</html>
